@import "src/styles/variables";

.search-form {
  height: 40px;
  max-width: 250px;
  width: 100%;

  .input-field {
    background-color: $black-2;
    border-radius: 5px;

    #search {
      color: $white;

      &:focus {
        background-color: $black-3;
        color: $white;
        border-radius: 5px;
      }
    }

    .label-icon {
      i {
        height: 40px;
        line-height: 40px;
      }
    }
  }
}
