.navbar {
  li {
    a {
      font-size: 28px;
      font-weight: bold;
      padding: 0 20px 0 0;
      color: #919292;

      &.active {
        color: #fff;
      }

      &:hover {
        background-color: transparent;
      }
    }

    &:last-child {
      a {
        padding: 0;
      }
    }
  }
}
