// base color
$white: #ffffff;
$black: #000000;
$black-2: #191818;
$black-3: #191818d9;
$pink: #B73556;
$gray: #919292;
$gray-light: #9192926b;
$dark: #242525;
$dark-gray:#3F4040;
$dark-gray-2: #3C3C3C;
