.news {
  .wrapper-content {
    display: grid;
    grid-template-columns: 480px auto;
    grid-gap: 20px;

    @media screen and (max-width: 1160px) {
      grid-template-columns: auto;
    }

    .content {
      .all-news {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 20px;
      }
    }
  }
}
